Repository GetJobber/atlantis, pull requests merged in 2024-12, with the labels that each got.

#2183 docs: update input thumbnails
  packages/site/public/InputPassword-1.png
  packages/site/public/InputPassword-1.svg
  packages/site/public/InputPhoneNumber.png
  packages/site/public/InputPhoneNumber.svg
  packages/site/public/Markdown.png
  packages/site/public/Markdown.svg
Labels: approved, Team Atlantis

#2179 feat(components): Live Doc Editor
  package-lock.json
  packages/site/.gitignore
  packages/site/editorBundle.rollup.config.js
  packages/site/package.json
  packages/site/src/componentList.ts
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/components/PropsList.tsx
  packages/site/src/content/AnimatedPresence/index.tsx
  packages/site/src/content/AnimatedSwitcher/index.tsx
  packages/site/src/content/Autocomplete/index.tsx
  packages/site/src/content/Avatar/index.tsx
  packages/site/src/content/Banner/index.tsx
  packages/site/src/content/Box/index.tsx
  packages/site/src/content/Button/index.tsx
  packages/site/src/content/ButtonDismiss/index.tsx
  packages/site/src/content/Card/index.tsx
  packages/site/src/content/Checkbox/index.tsx
  packages/site/src/content/Chip/index.tsx
  packages/site/src/content/Chips/index.tsx
  packages/site/src/content/Combobox/index.tsx
  packages/site/src/content/Countdown/index.tsx
  packages/site/src/content/DataDump/index.tsx
  packages/site/src/content/DataList/index.tsx
  packages/site/src/content/DataTable/index.tsx
  packages/site/src/content/DatePicker/index.tsx
  packages/site/src/content/DescriptionList/index.tsx
  packages/site/src/content/Disclosure/index.tsx
  packages/site/src/content/Divider/index.tsx
  packages/site/src/content/Drawer/index.tsx
  packages/site/src/content/Emphasis/index.tsx
  packages/site/src/content/FeatureSwitch/index.tsx
  packages/site/src/content/Flex/index.tsx
  packages/site/src/content/Heading/index.tsx
  packages/site/src/content/Icon/index.tsx
  packages/site/src/content/InlineLabel/index.tsx
  packages/site/src/content/Link/index.tsx
  packages/site/src/content/ProgressBar/index.tsx
  packages/site/src/content/StatusLabel/index.tsx
  packages/site/src/content/Switch/index.tsx
  packages/site/src/editorBundle.js
  packages/site/src/hooks/useComponentAndCode.tsx
  packages/site/src/hooks/usePageValues.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/main.css
  packages/site/src/main.tsx
  packages/site/src/types/content.ts
  packages/site/vite.config.ts
Labels: approved, Team Atlantis

#2189 feat(components): Docs Site Mopup Continued
  docs/components/List/List.stories.mdx
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/content/FormField/index.tsx
  packages/site/src/content/FormatEmail/index.tsx
  packages/site/src/content/FormatFile/index.tsx
  packages/site/src/content/FormatRelativeDateTime/index.tsx
  packages/site/src/content/FormatTime/index.tsx
  packages/site/src/content/Gallery/index.tsx
  packages/site/src/content/Glimmer/index.tsx
  packages/site/src/content/Grid/index.tsx
  packages/site/src/content/InputAvatar/index.tsx
  packages/site/src/content/InputDate/index.tsx
  packages/site/src/content/InputEmail/index.tsx
  packages/site/src/content/InputGroup/index.tsx
  packages/site/src/content/InputNumber/index.tsx
  packages/site/src/content/InputPassword/index.tsx
  packages/site/src/content/InputPhoneNumber/index.tsx
  packages/site/src/content/InputText/index.tsx
  packages/site/src/content/InputTime/index.tsx
  packages/site/src/content/InputValidation/index.tsx
  packages/site/src/content/LightBox/index.tsx
  packages/site/src/content/List/index.tsx
  packages/site/src/content/Markdown/index.tsx
  packages/site/src/content/Menu/index.tsx
  packages/site/src/content/Modal/index.tsx
  packages/site/src/content/MultiSelect/index.tsx
  packages/site/src/content/Popover/index.tsx
  packages/site/src/content/RadioGroup/index.tsx
  packages/site/src/content/RecurringSelect/index.tsx
  packages/site/src/content/SegmentedControl/index.tsx
  packages/site/src/content/Select/index.tsx
  packages/site/src/content/Spinner/index.tsx
  packages/site/src/content/StatusIndicator/index.tsx
  packages/site/src/content/Table/index.tsx
  packages/site/src/content/Tabs/index.tsx
  packages/site/src/content/Text/index.tsx
  packages/site/src/content/Toast/index.tsx
  packages/site/src/content/Tooltip/index.tsx
  packages/site/src/content/Typography/index.tsx
Labels: approved, Team Atlantis

#2190 docs(components): Add ConfirmationModal to New Docs Site
  packages/site/generateDocs.mjs
  packages/site/src/componentList.ts
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/content/ConfirmationModal/ConfirmationModal.props.json
  packages/site/src/content/ConfirmationModal/index.tsx
  packages/site/src/content/index.ts
Labels: approved, Team Atlantis, docs site

#2180 docs: give components more room to breathe [JOB-110749]
  packages/site/src/components/BodyBlock.tsx
  packages/site/src/components/ContentCard.tsx
  packages/site/src/components/ContentCardWrapper.tsx
  packages/site/src/pages/ComponentsPage.tsx
Labels: approved, Team Atlantis

#2198 docs: Add Changelogs to new docs site
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/pages/ComponentsChangelogPage.tsx
  packages/site/src/pages/ComponentsNativeChangelogPage.tsx
  packages/site/src/pages/DesignChangelogPage.tsx
  packages/site/src/routes.tsx
Labels: approved, docs site

#2181 docs: standardize styling of code snippets and props table
  packages/site/package.json
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/components/PropsList.tsx
  packages/site/src/components/RenderComponentShowCode.tsx
  packages/site/src/layout/code-theme.css
  packages/site/src/main.css
Labels: approved, Team Atlantis

#2201 docs: Fix RecurringSelect typo
  packages/site/src/componentList.ts
Labels: approved, docs site

#2193 docs(components): Adding InputFile to New Docs Site [JOB-110590]
  packages/site/generateDocs.mjs
  packages/site/src/componentList.ts
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/content/ConfirmationModal/ConfirmationModal.props.json
  packages/site/src/content/InputFile/InputFile.props.json
  packages/site/src/content/InputFile/index.tsx
  packages/site/src/content/InputTime/InputTime.props.json
  packages/site/src/content/index.ts
  packages/site/src/types/content.ts
Labels: approved, Team Atlantis

#2199 docs(components): Putting all components in side nav bar of New Docs Site [JOB-110759]
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis

#2195 docs(components): Adding Content to New Docs Site [JOB-110720]
  packages/site/generateDocs.mjs
  packages/site/src/componentList.ts
  packages/site/src/components/AtlantisPreviewEditorProvider.tsx
  packages/site/src/content/Content/Content.props.json
  packages/site/src/content/Content/index.tsx
  packages/site/src/content/index.ts
Labels: approved, Team Atlantis

#2196 docs(components): Adding Page to New Docs Site [JOB-110721]
  packages/site/generateDocs.mjs
  packages/site/src/componentList.ts
  packages/site/src/content/Page/Page.props.json
  packages/site/src/content/Page/index.tsx
  packages/site/src/content/index.ts
  packages/site/src/types/content.ts
Labels: approved, Team Atlantis

#2194 feat(components): Docs Site Minimal Mode
  packages/site/src/components/ComponentLinks.tsx
  packages/site/src/content/FormatFile/index.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/main.tsx
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
  packages/site/src/providers/AtlantisSiteProvider.tsx
Labels: approved, Team Atlantis

#2206 docs: Add and implement package thumbnails
  packages/site/public/Components.png
  packages/site/public/Components.svg
  packages/site/public/Design.png
  packages/site/public/Design.svg
  packages/site/src/pages/HomePage.tsx
Labels: approved, Team Atlantis

#2205 docs: Add image and adjust structure to collection view headers [JOB-111089]
  packages/site/public/Comp/distress_paper-rip.svg
  packages/site/public/distress_paper-rip.svg
  packages/site/public/img-hero_collage-v2.004b0168.webp
  packages/site/public/img-page-divider-collage.webp
  packages/site/public/img_collage.jpg
  packages/site/src/components/HeaderBlock.tsx
  packages/site/src/components/PageBlock.tsx
  packages/site/src/main.css
  packages/site/src/pages/ComponentsPage.tsx
  packages/site/src/pages/DesignPage.tsx
  packages/site/src/pages/HomePage.tsx
Labels: approved, Team Atlantis

#2204 feat(components): Add controlled option to Tabs
  docs/components/Tabs/Web.stories.tsx
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
Labels: approved, Team Atlantis

#2197 docs(components): Adding SideDrawer to New Docs Site [JOB-110722]
  docs/components/SideDrawer/SideDrawer.stories.mdx
  packages/site/generateDocs.mjs
  packages/site/src/componentList.ts
  packages/site/src/content/InputTime/InputTime.props.json
  packages/site/src/content/SideDrawer/SideDrawer.props.json
  packages/site/src/content/SideDrawer/index.tsx
  packages/site/src/content/index.ts
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
Labels: approved, Team Atlantis

#2210 docs: tweaks to dark mode experience
  packages/site/src/components/ContentCard.tsx
  packages/site/src/components/ToggleThemeButton.tsx
Labels: approved, Team Atlantis

#1916 docs(design): Guidelines for numerical abbreviation
  docs/content/formatting.stories.mdx
Labels: approved, Team Atlantis

#2203 feat(components): Docs Site Mobile Support
  docs/components/Banner/Banner.stories.mdx
  docs/components/ButtonDismiss/ButtonDismiss.stories.mdx
  packages/site/.gitignore
  packages/site/editorMobileBundle.rollup.config.js
  packages/site/generateDocs.mjs
  packages/site/package.json
  packages/site/src/MobileOverrides.js
  packages/site/src/content/Button/Button.props-mobile.json
  packages/site/src/content/Button/index.tsx
  packages/site/src/editorBundle.js
  packages/site/src/editorMobileBundle.js
  packages/site/src/hooks/useComponentAndCode.tsx
  packages/site/src/hooks/usePageValues.tsx
  packages/site/src/hooks/usePropsAsDataList.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
  packages/site/src/types/content.ts
  packages/site/vite.config.ts
Labels: approved, Team Atlantis

#2217 docs: improve collection page styling and semantics
  packages/site/src/components/HeaderBlock.tsx
Labels: approved, Team Atlantis

#2219 docs: elevate cardcontentwrapper and theme button for dark mode
  packages/site/src/components/ContentCardWrapper.tsx
  packages/site/src/components/ToggleThemeButton.tsx
Labels: approved, Team Atlantis

#2208 docs: add thumbnails for more packages
  packages/site/public/AtlantisThemeContext.png
  packages/site/public/AtlantisThemeContext.svg
  packages/site/public/Comp/distress_paper-rip.svg
  packages/site/public/ESLintConfig.png
  packages/site/public/ESLintConfig.svg
  packages/site/public/Hooks.png
  packages/site/public/Hooks.svg
  packages/site/public/StyleLintConfig.png
  packages/site/public/StyleLintConfig.svg
Labels: approved, Team Atlantis

#2215 docs: More search disambiguation
  packages/site/src/componentList.ts
  packages/site/src/designList.ts
  packages/site/src/layout/SearchBox.tsx
Labels: approved, Team Atlantis

#2211 feat(components): Add arrow key navigation to Tabs
  packages/components/src/Tabs/Tabs.test.tsx
  packages/components/src/Tabs/Tabs.tsx
  packages/components/src/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/components/src/Tabs/hooks/useArrowKeyNavigation.ts
Labels: approved, design approved, Team Atlantis

#2223 docs: Even more additionalMatches ft. Mobile components
  packages/site/src/componentList.ts
Labels: approved, Team Atlantis

#2209 docs: style changes to code and props tables, mostly for dark mode
  packages/site/playwright-report/index.html
  packages/site/src/components/PropsList.tsx
  packages/site/src/layout/code-theme.css
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
  packages/site/test-results/.last-run.json
Labels: approved, Team Atlantis, docs site

#2220 docs(components): Adding Grouped Components to side nav bar [JOB-110760]
  packages/site/src/componentList.ts
  packages/site/src/componentSections.ts
  packages/site/src/layout/AnimatedPresenceDisclosure.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis, docs site

#2221 feat(components): Docs Site - Remaining Mobile Components
  package-lock.json
  packages/site/editorMobileBundle.rollup.config.js
  packages/site/generateDocs.mjs
  packages/site/package.json
  packages/site/public/ActivityIndicator.png
  packages/site/src/MobileOverrides.js
  packages/site/src/MobileOverrides.jsx
  packages/site/src/componentList.ts
  packages/site/src/content/Button/index.tsx
  packages/site/src/content/ButtonGroup/index.tsx
  packages/site/src/content/Chip/Chip.props-mobile.json
  packages/site/src/content/Chip/index.tsx
  packages/site/src/content/Chips/Chips.props-mobile.json
  packages/site/src/content/Chips/index.tsx
  packages/site/src/content/ContentOverlay/index.tsx
  packages/site/src/content/Form/index.tsx
  packages/site/src/content/FormField/FormField.props.json
  packages/site/src/content/InputDate/InputDate.props.json
  packages/site/src/content/InputEmail/InputEmail.props.json
  packages/site/src/content/InputNumber/InputNumber.props-mobile.json
  packages/site/src/content/InputNumber/InputNumber.props.json
  packages/site/src/content/InputPassword/InputPassword.props.json
  packages/site/src/content/InputPhoneNumber/InputPhoneNumber.props.json
  packages/site/src/content/InputText/InputText.props.json
  packages/site/src/content/InputTime/InputTime.props.json
  packages/site/src/content/InputValidation/InputValidation.props.json
  packages/site/src/content/Menu/index.tsx
  packages/site/src/content/Page/index.tsx
  packages/site/src/content/ProgressBar/index.tsx
  packages/site/src/content/Select/Select.props.json
  packages/site/src/content/Switch/index.tsx
  packages/site/src/content/Tabs/Tabs.props.json
  packages/site/src/content/ThumbnailList/ThumbnailList.props-mobile.json
  packages/site/src/content/Toast/index.tsx
  packages/site/src/editorMobileBundle.js
  packages/site/src/main.css
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
Labels: approved, Team Atlantis, docs site

#2227 refactor(design): Add --color-surface--element semantic token
  docs/design/Colors.stories.mdx
  packages/design/src/tokens/dark.tokens.json
  packages/design/src/tokens/semanticColor.tokens.json
Labels: approved, Team Atlantis

#2239 fix(components): Docs Site not rendering Design items properly
  packages/site/src/layout/Layout.tsx
Labels: approved, Team Atlantis

#2222 feat(components): Docs Site Side Nav Links
  packages/site/src/components/ComponentLinks.tsx
  packages/site/src/components/PropsList.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/vite.config.ts
Labels: approved, Team Atlantis, docs site

#2234 docs: Add InputCurrency to New Docs Site
  packages/site/public/InputCurrency.png
  packages/site/src/componentList.ts
  packages/site/src/content/InputCurrency/InputCurrency.props-mobile.json
  packages/site/src/content/InputCurrency/index.tsx
  packages/site/src/content/index.ts
  packages/site/src/editorMobileBundle.js
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
Labels: approved, Team Atlantis, docs site

#2225 feat(design): add microphone icon
  docs/components/Icon/Icon.stories.mdx
  packages/design/src/icons/microphone.svg
  packages/design/src/icons/microphoneMuted.svg
Labels: experiment, approved, design approved, Team Atlantis

#2241 fix(components): Fixing some issues with the docs site before launch
  packages/site/.env.development
  packages/site/src/content/InputEmail/index.tsx
  packages/site/src/content/InputPassword/index.tsx
  packages/site/src/content/InputText/index.tsx
  packages/site/src/editorMobileBundle.js
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
Labels: approved, Team Atlantis

#2237 docs: Adjusted SideNav styling for new docs site [JOB-110489]
  packages/site/src/assets/JobberLogo.svg.tsx
  packages/site/src/componentList.ts
  packages/site/src/componentSections.ts
  packages/site/src/layout/AnimatedPresenceDisclosure.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.module.css
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/layout/SearchBox.tsx
Labels: approved, Team Atlantis

#2214 docs: Deploy new docs beside storybook
  .circleci/config.yml
  package.json
  packages/site/package.json
  packages/site/src/components/HeaderBlock.tsx
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/main.css
  packages/site/src/main.tsx
  packages/site/src/pages/ComponentsPage.tsx
  packages/site/src/pages/DesignPage.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/utils/storybook.ts
Labels: approved, Team Atlantis, docs site

#2242 docs: Add content pages [JOB-111256]
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/contentList.ts
  packages/site/src/designList.ts
  packages/site/src/layout/SearchBox.tsx
  packages/site/src/maps/contentContent.tsx
  packages/site/src/maps/index.ts
  packages/site/src/pages/ContentPage.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis

#2249 fix: nav disclosure section dark mode [JOB-111816]
  packages/site/src/layout/NavMenu.module.css
Labels: approved, Team Atlantis

#2250 docs: Adding category view to New Docs Site [JOB-110256]
  packages/site/src/componentList.ts
  packages/site/src/components/BodyBlock.tsx
  packages/site/src/components/CategoryCardSection.tsx
  packages/site/src/components/CategorySectionWrapper.tsx
  packages/site/src/components/PageBlock.tsx
  packages/site/src/pages/ComponentsPage.tsx
  packages/site/src/pages/ContentPage.tsx
  packages/site/src/pages/DesignPage.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/types/components.ts
Labels: approved, design approved, Team Atlantis, docs site

#2235 feat(components): Make List Section Header Flexible
  docs/components/List/List.stories.mdx
  docs/components/List/Web.stories.tsx
  packages/components/src/List/List.test.tsx
  packages/components/src/List/List.tsx
  packages/site/src/content/List/ListNotes.mdx
Labels: approved, Team Atlantis

#2255 docs: Refactor Design item in side nav to use AnimatedPresenceDisclosure
  packages/site/src/designList.ts
  packages/site/src/maps/designContent.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis, docs site

#2256 docs: Fix broken url for Get Started button on Home
  packages/site/src/pages/HomePage.tsx
Labels: approved, Team Atlantis, docs site

#2252 docs: Refactor Changelog item in side nav to use AnimatedPresenceDisclosure
  packages/site/src/changelogList.ts
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/layout/AnimatedPresenceDisclosure.tsx
  packages/site/src/layout/SearchBox.tsx
  packages/site/src/maps/changelogContent.tsx
  packages/site/src/maps/index.ts
  packages/site/src/pages/ChangelogPage.tsx
  packages/site/src/pages/ComponentsChangelogPage.tsx
  packages/site/src/pages/ComponentsNativeChangelogPage.tsx
  packages/site/src/pages/DesignChangelogPage.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis, docs site

#2254 docs: Add option to skip to content [JOB-111012]
  packages/site/src/components/VisibleWhenFocused.module.css
  packages/site/src/components/VisibleWhenFocused.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.tsx
Labels: approved, Team Atlantis

#2253 docs: Update collection header width [JOB-111903]
  packages/site/src/components/CategoryCardSection.module.css
  packages/site/src/components/CategoryCardSection.tsx
  packages/site/src/components/PageBlock.tsx
  packages/site/src/main.css
Labels: approved, Team Atlantis, docs site

#2246 docs: Update site layout structure [JOB-111448]
  packages/site/src/components/ComponentLinks.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/NavMenu.module.css
  packages/site/src/layout/PageWrapper.tsx
Labels: approved, Team Atlantis, docs site

#2247 docs: improve search experience [JOB-111813]
  packages/site/src/assets/ToolBoxIllustration.tsx
  packages/site/src/layout/SearchBox.module.css
  packages/site/src/layout/SearchBox.tsx
Labels: approved, Team Atlantis, docs site

#2259 docs: Add guide pages [JOB-111257]
  docs/getting-started-with-react/getGIF.ts
  docs/getting-started-with-react/getGIF.tsx
  docs/getting-started-with-react/getting-started-with-react.stories.mdx
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/guidesList.ts
  packages/site/src/layout/SearchBox.tsx
  packages/site/src/maps/guidesContent.tsx
  packages/site/src/maps/index.ts
  packages/site/src/pages/GuidesPage.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/routes.tsx
Labels: approved, Team Atlantis

#2258 docs: Update New Docs Site to have '/' trigger Search
  packages/site/src/layout/NavMenu.module.css
  packages/site/src/layout/NavMenu.tsx
  packages/site/src/layout/SearchBox.tsx
Labels: approved, Team Atlantis, docs site

#2260 docs: Remove blue border around Layout on focus
  packages/site/src/layout/Layout.tsx
Labels: approved, Team Atlantis, docs site

#2261 docs(docx): Adding Hooks to new docs site [JOB-111817]
  docs/hooks/UseBool.tsx
  docs/hooks/UseBreakpoints.tsx
  docs/hooks/UseCollectionQuery.tsx
  docs/hooks/UseFocusTrap.tsx
  docs/hooks/UseFormState.tsx
  docs/hooks/UseInView.tsx
  docs/hooks/UseIsMounted.tsx
  docs/hooks/UseLiveAnnounce.tsx
  docs/hooks/UseOnKeyDown.tsx
  docs/hooks/UseOnMount.tsx
  docs/hooks/UsePasswordStrength.tsx
  docs/hooks/UseRefocusOnActivator.tsx
  docs/hooks/UseResizeObserver.tsx
  docs/hooks/UseWindowDimensions.tsx
  docs/hooks/useBool.stories.mdx
  docs/hooks/useBreakpoints.stories.mdx
  docs/hooks/useCallbackRef.stories.mdx
  docs/hooks/useCollectionQuery.stories.mdx
  docs/hooks/useFocusTrap.stories.mdx
  docs/hooks/useFormState.stories.mdx
  docs/hooks/useInView.stories.mdx
  docs/hooks/useIsMounted.stories.mdx
  docs/hooks/useLiveAnnounce.stories.mdx
  docs/hooks/useOnKeyDown.stories.mdx
  docs/hooks/useOnMount.stories.mdx
  docs/hooks/usePasswordStrength.stories.mdx
  docs/hooks/useRefocusOnActivator.stories.mdx
  docs/hooks/useResizeObserver.stories.mdx
  docs/hooks/useWindowDimensions.stories.mdx
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/hooksList.ts
  packages/site/src/layout/SearchBox.tsx
  packages/site/src/layout/SearchBoxSection.tsx
  packages/site/src/maps/hooksContent.tsx
  packages/site/src/maps/index.ts
  packages/site/src/pages/HomePage.tsx
  packages/site/src/pages/HooksPage.tsx
  packages/site/src/routes.tsx
  packages/site/src/types/components.ts
Labels: approved, Team Atlantis

#2263 docs: Home Page categorization on New Docs Site
  packages/site/src/components/PageBlock.tsx
  packages/site/src/pages/ComponentsPage.tsx
  packages/site/src/pages/HomePage.tsx
Labels: approved, Team Atlantis, docs site

#2266 docs(docx): Adding Packages Section to New Docs Site [JOB-111818]
  packages/site/.eslintrc.cjs
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/layout/Layout.tsx
  packages/site/src/layout/SearchBox.tsx
  packages/site/src/main.css
  packages/site/src/maps/index.ts
  packages/site/src/maps/packagesContent.tsx
  packages/site/src/packagesList.ts
  packages/site/src/pages/ContentView.tsx
  packages/site/src/pages/HomePage.tsx
  packages/site/src/pages/PackagesPage.tsx
  packages/site/src/routes.tsx
  packages/site/vite.config.ts
Labels: approved, Team Atlantis

#2269 docs: Pull out button functionality [JOB 112064]
  packages/site/src/components/CodeViewer.tsx
  packages/site/src/providers/AtlantisPreviewEditorProvider.tsx
Labels: approved, Team Atlantis, docs site

#2264 docs: Add siderail for content pages and improve layouts [Job 111086]
  packages/site/src/components/AnchorLinks.tsx
  packages/site/src/components/ComponentLinks.tsx
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/layout/BaseView.tsx
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/layout/ContentView.tsx
  packages/site/src/main.css
  packages/site/src/pages/ContentView.tsx
Labels: approved, Team Atlantis, docs site

#2272 docs: Hide NavMenu scrollbar when it's not needed
  packages/site/src/layout/NavMenu.module.css
Labels: approved, Team Atlantis, docs site

#2271 docs: Add Jobber Pro font [JOB-111466]
  packages/site/index.html
Labels: approved, Team Atlantis, docs site

#2267 docs: Add favicon and page title [Job 111944]
  packages/site/index.html
  packages/site/public/atlantis_favicon.svg
  packages/site/src/components/ContentLoader.tsx
  packages/site/src/components/PageBlock.tsx
  packages/site/src/hooks/usePageTitle.ts
  packages/site/src/layout/ComponentView.tsx
  packages/site/src/layout/ContentView.tsx
  packages/site/src/pages/HomePage.tsx
Labels: approved, Team Atlantis, docs site

#2265 docs: Make current page apparent in side nav
  packages/site/src/layout/AnimatedPresenceDisclosure.tsx
  packages/site/src/layout/NavMenu.module.css
  packages/site/src/layout/NavMenu.tsx
Labels: approved, Team Atlantis, docs site

#2277 docs: Add id to AnchorLinks and Add keys to Switch in Layout
  packages/site/src/components/AnchorLinks.tsx
  packages/site/src/components/ComponentLinks.tsx
  packages/site/src/layout/ContentView.tsx
  packages/site/src/layout/Layout.tsx
Labels: approved, Team Atlantis, docs site
